@use 'vars' as *;


.hero {
  background-color: $light-lime;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.big-star {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
}

.big-star-two {
  position: absolute;
  top: 100px;
  right: -130px;
  width: 585px;
  height: auto;
}

.mini-star--flooded {
  position: absolute;
  left: -35px;
  top: 95px;
  height: auto;

}

.mini-star--empty {
  position: absolute;
  left: 55px;
  top: 69px;
  height: auto;

}

.mini-star--empty-big {
  position: absolute;
  right: 250px;
  top: 568px;
  height: auto;
}

.mini-star--empty-two {
  position: absolute;
  right: 350px;
  top: 538px;
  height: auto;
}

.mini-star--empty-three {
  position: absolute;
  left: -73px;
  top: 760px;
  height: auto;
}

.mini-star--empty-four {
  position: absolute;
  left: -60px;
  top: 822px;
  height: auto;
}

.mini-star--empty-five {
  position: absolute;
  right: 25px;
  top: 120px;
  height: auto;
}

.mini-star--empty-six {
  position: absolute;
  right: -40px;
  top: 155px;
  height: auto;
}

.mini-star_img {
  width: 100%;
  height: auto;
}


.inner {
  //padding-left: calc(50% - 600px);
  //padding-right: calc(50% - 600px);
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

.hero__title {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-top: 196px;
}

.hero__title-text {
  max-width: 769px;
  color: #202027;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero__description {
  max-width: 720px;
  color: #202027;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.hero__start {
  margin-top: 48px;
}

.hero__start-button:hover {
  background-color: white;
  color: black;
}

.hero__start-button {
  display: flex;
  width: 247px;
  padding: 16px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: $radius-full;
  border: 1px solid $black;
  background: $black;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 141.688%;
}

.games {
  margin-bottom: 21px;
}


.marquee {
  width: 100%;
  background-color: #BCEC30;
  overflow: hidden;
  padding: 27px 0;
  margin-top: 156px;
  position: relative;
}

.marquee__list {
  display: flex;
  align-items: center;
  gap: 51px;
  animation: marquee 30s linear infinite;
  width: max-content;
}

.marquee:hover {
  animation-play-state: paused;
}

.marquee__item a {
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  line-height: 110%;
}

.star {
  flex-shrink: 0;
  display: flex;
  align-items: center;


  img {
    width: 30px;
    height: 30px;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


.main {
  background-color: black;
  position: relative;

  &__content {

    &-column {
      display: flex;
      flex-direction: column;
      gap: 32px;
      width: 100%;
      max-width: 378px;
      flex-grow: 1;
    }

    &-item {
      border-radius: 30px;
      background: #FFF;
      box-shadow: 0 12.612px 42.251px -7.567px rgba(0, 0, 0, 0.13);
      display: block;
      width: 378px;
      transition: transform 0.3s ease;

      &-text {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 32px;
      }

    }

    &-container {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
      margin-top: 72px;
      position: relative;
    }
  }
}

.main__content-item:hover {
  transform: scale(1.05);
}

.main__content-item-img img {
  width: 100%;
  height: 314px;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}


.content {

  &-title {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &-title {
    padding-top: 94px;
  }

  &-description {
    max-width: 788px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 24px;
  }
}

.game-name {
  color: #202027;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
}

.game-number {
  width: 111px;
  text-wrap: nowrap;
  height: 36px;
  display: flex;
  padding: 8px 16px 10px 16px;
  align-items: center;
  border-radius: 52px;
  background: #F7F7F7;
  color: black;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.mini-games {
  padding-bottom: 144px;
}

.mini-games__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mini-games__title {
  color: #FFF;
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
  margin-top: 70px;
  margin-bottom: 40px;
}

.mini-games__item {
  display: flex;
  justify-content: space-between;
  background: #FFF;
  box-shadow: 0 20px 67px -12px rgba(0, 0, 0, 0.13);
  border-radius: 45px;
  align-items: stretch;
  min-height: 500px;
  max-width: 100%;
}

.mini-games__item--left {
  @extend .mini-games__item;
  flex-direction: row;
}

.mini-games__item--right {
  @extend .mini-games__item;
  flex-direction: row-reverse;
}



.mini-games__content {
  flex: 1 1 50%;
  padding: 48px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
}

.mini-games__name {
  color: #202027;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  word-break: break-word;
}


.mini-games__description {
  color: #202027;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 24px;
}

.mini-games__img {
  flex: 1 1 50%;
  max-width: 100%;
  height: auto;
  display: flex;
  border-radius: 30px;
}

.mini-games__start {
  margin-top: 36px;
}

.mini-games__start-button {
  background: #007BFF;
  color: white;
  padding: 12px 24px;
  border-radius: 30px;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
}

.mini-games__start-button:hover {
  background: #0056b3;
}

.mini-games__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}


.footer {
  width: 100%;
  height: 150px;
  flex-shrink: 0;
  background: #BDED35;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__title {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

