@use 'vars' as *;

header {
  background-color: $light-lime;
  height: 800px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.header__inner {
  padding-left: clamp(16px, 8vw, 120px);
}

.header__title {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-top: 196px;
}

.header__title-text {
  width: 769px;
  color: #202027;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__description {
  width: 769px;
  color: #202027;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}


.header__start-button {
  display: flex;
  width: 247px;
  padding: 16px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: $radius-full;
  border: 1px solid $black;
  background: $black;
  margin-top: 48px;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 141.688%;
}


.header__strip-content {
  width: 100%;
  background-color: #BCEC30;
  padding: 27px 49px;
  overflow: hidden;
  margin-top: 156px;
}

.header__strip-content ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
  gap: 51px;
  font-weight: 700;
  font-size: 30px;
}

.header__strip-content li {
  position: relative;
  white-space: nowrap;
}

.header__strip-content li:not(:last-child)::after {
  content: " ✦ ";
  margin-left: 51px;
  color: #000;
}