@media (max-width: 767px) {


  // блок "Добро пожаловать"
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__title {
    align-items: center;
    margin-top: 147px;
  }

  .hero__title-text {
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .hero__description {
    max-width: 296px;
    width: 100%;
    color: #202027;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .hero__start {
    margin-top: 36px;
  }


  .big-star--mob {
    display: block;
  }

  .big-star--two {
    display: none;
  }

  .marquee {
    width: 100%;
    background-color: #BCEC30;
    overflow: hidden;
    padding: 16px 0;
    margin-top: 131px;
    position: relative;

    &__name {
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.64px;
      text-transform: uppercase;
    }

    &__list {
      gap: 27px;
    }

    &__item a {
      font-size: 16px;
    }

    &__star {
      display: block;
      width: 20px;
    }


  }

  .marquee__star-img {
    width: 19px;
    height: 19px;
  }

  .hero__start-button {
    font-size: 16px;
    width: 285px;
  }

  .hero__start--dis{
    display: none;
  }


  .hero__start--mob {
    display: block;
  }


  //блок "Мини-Игры"
  .games {
    display: none;
  }

  .mini-games {
    padding-bottom: 49px;

    &__item {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      background: #FFF;
      box-shadow: 0 20px 67px -12px rgba(0, 0, 0, 0.13);
      border-radius: 45px;
    }

    &__content {
      display: flex;
      padding: 33px;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
    }

    &__container {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    &--right {
      flex-direction: column;
    }

    &__img {
      display: flex;
      width: 385px;
      height: 285px;
      border-radius: 30px;
    }

    &__title {
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: 48px;
      margin-bottom: 16px;
    }

    &__name {
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    &__description {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &__start {
      display: flex;
      justify-content: center;
    }

    &__text {
      width: 100%;
    }
  }


  //звезды (будь они неладны)

  .big-star--des {
    display: none;
  }

  .big-star-mob {
    display: flex;
    flex-direction: column;
    align-items: self-end;
    position: absolute;
    height: auto;
    right: 0;
  }

  .mini-star--empty-five {
    display: none;
  }

  .mini-star--empty-six {
    display: none;
  }

  .mini-star--flooded {
    position: absolute;
    left: 40px;
    top: 95px;
    height: auto;

  }

  .mini-star--empty {
    position: absolute;
    left: 110px;
    top: 69px;
    height: auto;

  }

  .mini-star--empty-big {
    position: absolute;
    right: 0;
    top: 580px;
    height: auto;
  }

  .mini-star--empty-two {
    position: absolute;
    right: 60px;
    top: 550px;
    height: auto;
  }

  .mini-star__img {
    width: 50%;
    height: auto;
  }


  .hero__start-button:hover {
    background-color: #000;
    color: white;
  }

  .mini-games__start-button {
    font-size: 16px;
    width: 285px;
  }

  .mini-games__content {
    padding: 29px 29px 32px 29px;
  }

  .mini-games__container {
    gap: 24px;
  }
}

