$font-family: "Montserrat", serif;
$max-width: 1440px;
$black: #202027;
$lime: #BCEC30;
$light-lime: #E1FF8F;
$radius-full: 60px;
$spacing-small: 8px;
$shadow-card: 0 12.612px 42.251px -7.567px rgba(0, 0, 0, 0.13);
$shadow-mini-game: 0 20px 67px -12px rgba(0, 0, 0, 0.13);
