@charset "UTF-8";
/* Общие стили */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

input, button, textarea, select, optgroup {
  font-family: inherit;
}

.center {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8px;
}

header {
  background-color: #E1FF8F;
  height: 800px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.header__inner {
  padding-left: clamp(16px, 8vw, 120px);
  padding-right: clamp(16px, 8vw, 120px);
}

.header__title {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-top: 196px;
}

.header__title-text {
  width: 769px;
  color: #202027;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__description {
  width: 769px;
  color: #202027;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.header__start-button {
  display: flex;
  width: 247px;
  padding: 16px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 60px;
  border: 1px solid #202027;
  background: #202027;
  margin-top: 48px;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 141.688%;
}

.header__strip-content {
  width: 100%;
  background-color: #BCEC30;
  padding: 27px 49px;
  overflow: hidden;
  margin-top: 156px;
}

.header__strip-content ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
  gap: 51px;
  font-weight: 700;
  font-size: 30px;
}

.header__strip-content li {
  position: relative;
  white-space: nowrap;
}

.header__strip-content li:not(:last-child)::after {
  content: " ✦ ";
  margin-left: 51px;
  color: #000;
}

.main {
  background-color: black;
  height: 1470px;
}
.main__content {
  padding-left: clamp(16px, 8vw, 120px);
  padding-right: clamp(16px, 8vw, 120px);
}
.main__content-item {
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0 12.612px 42.251px -7.567px rgba(0, 0, 0, 0.13);
  width: 100%;
  height: 473px;
}
.main__content-item-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
}
.main__content-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  margin-top: 72px;
}

.main__content-item-img img {
  width: 100%;
  height: 314px;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.content-title {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content-title {
  padding-top: 94px;
}
.content-description {
  max-width: 788px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: 24px;
}

.game-number {
  width: 111px;
  height: 36px;
  display: flex;
  padding: 8px 16px 10px 16px;
  align-items: center;
  border-radius: 52px;
  background: #F7F7F7;
  color: black;
  font-size: 16px;
}

.game-name {
  color: #202027;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
}

/*# sourceMappingURL=style.css.map */
